{% extends 'form.html' %}
{% block title %}Edit Fighter{% endblock %}
{% block content %}
  <div class="form-wrapper">
    <form class="form" method="patch" action="/fighter/edit/{{ fighters.id }}">
      <h3 class="form-heading">Edit Fighter - {{fighters.first_name}}</h3>
      
      <div class="form-group">
      
      <div class="form-group">
        <label for="first_name">First Name</label>
        {{ form.first_name(class_ = 'form-control', placeholder='', autofocus = true) }}
      </div>
      <div class="form-group">
        <label for="last_name">Last Name</label>
        {{ form.last_name(class_ = 'form-control',  autofocus = true) }}
      </div>
      <div class="form-group">
        <label for="age">Age</label>
        {{ form.age(class_ = 'form-control',  autofocus = true) }}
      </div>

      <div class="form-group">
        <label for="height">Height</label>
        {{ form.height(class_ = 'form-control', autofocus = true) }}
      </div>
      <div class="form-group">
        <label for="weight">Weight</label>
        {{ form.weight(class_ = 'form-control', autofocus = true) }}
      </div>
      <div class="form-group">
        <label for="arm_reach">Arm Reach</label>
        {{ form.arm_reach(class_ = 'form-control', autofocus = true) }}
      </div>

      <div class="form-group">
        <label for="leg_reach">Leg Reach</label>
        {{ form.leg_reach(class_ = 'form-control', autofocus = true) }}
      </div>
      <div class="form-group">
        <label for="sex">Sex</label>
        {{ form.sex(class_ = 'form-control', autofocus = true) }}
      </div>
      <div class="form-group">
        <label for="win">Win</label>
        {{ form.win(class_ = 'form-control', autofocus = true) }}
      </div>
      <div class="form-group">
        <label for="loss">Loss</label>
        {{ form.loss(class_ = 'form-control', autofocus = true) }}
      </div>
      <div class="form-group">
        <label for="draw">Draw</label>
        {{ form.draw(class_ = 'form-control', autofocus = true) }}
      </div>
      <div class="form-group">
        <label for="division">Division</label>
        <ol>
          <li>men_flyweight</li>
          <li>men_bantamweight</li>
          <li>men_featherweight</li>
          <li>men_lightweight</li>
          <li>men_welterweight</li>
          <li>men_middleweight</li>
          <li>men_lightheavyweight</li>
          <li>men_heavyweight</li>
          <li>women_strawweight</li>
          <li>women_flyweight</li>
          <li>women_bantamweight</li>
          <li>women_featherweight</li>
        </ol>
        {{ form.division(class_ = 'form-control', autofocus = true) }}
      </div>  
      <div class="form-group">
        <label for="rank">Rank</label>
        {{ form.rank(class_ = 'form-control', autofocus = true) }}
      </div>      
      <input type="submit" value="Edit Fighter" class="btn btn-primary btn-lg btn-block">
    </form>
  </div>
{% endblock %}