{% extends 'form.html' %}
{% block title %}New Event/Fighter{% endblock %}
{% block content %}
  <div class="form-wrapper">
    <form method="post" class="form" >
      <h3 class="form-heading">List a new event/fighter</h3>
      <div class="form-group">
          
          
            <div class="form-group">
              <label for="event_name">Event</label>
              {{ form.event_name(class_ = 'form-control', placeholder='UFC location', autofocus = true) }}
            </div>
            <div class="form-group">
              <label for="event_date">Date</label>
              {{ form.event_date(class_ = 'form-control', placeholder='Format to use: YYYY-MM-DD HH:MM:SS', autofocus = true) }}
            </div>
            <div class="form-group">
              <label for="location">Location</label>
              {{ form.location(class_ = 'form-control', placeholder='Somewhere', autofocus = true) }}
            </div>
          
      </div>
      
      <div class="form-group">
          <label for="division">Division</label>
          <ol>
            <li>men_flyweight</li>
            <li>men_bantamweight</li>
            <li>men_featherweight</li>
            <li>men_lightweight</li>
            <li>men_welterweight</li>
            <li>men_middleweight</li>
            <li>men_lightheavyweight</li>
            <li>men_heavyweight</li>
            <li>women_strawweight</li>
            <li>women_flyweight</li>
            <li>women_bantamweight</li>
            <li>women_featherweight</li>
          </ol>
          {{ form.division(class_ = 'form-control', placeholder='1 - 12', autofocus = true) }}
      </div>
      <div class="form-group">
        <label for="figher_1">Fighter 1</label>  
        {{ form.fighter_1(class_ = 'form-control', placeholder='John Doe',  autofocus = true) }}
      </div>
      <div class="form-group">
        <label for="figher_1_odds">Fighter 1 odds</label>  
        {{ form.fighter_1_odds(class_ = 'form-control', placeholder='ex. -100',  autofocus = true) }}
      </div>
      <div class="form-group">
        <label for="figher_2">Fighter 2</label>  
        {{ form.fighter_2(class_ = 'form-control', placeholder='Joe Doe',  autofocus = true) }}
      </div>
      <div class="form-group">
        <label for="figher_2_odds">Fighter 2 odds</label>  
        {{ form.fighter_2_odds(class_ = 'form-control', placeholder='ex. -100',  autofocus = true) }}
      </div>
      <div class="form-group">
        <label for="fight_order">Match Position</label>  
        {{ form.fight_order(class_ = 'form-control', placeholder='1 - 6',  autofocus = true) }}
      </div>
              
      <input type="submit" value="Create Event/Fighter" class="btn btn-primary btn-lg btn-block">
    </form>
  </div>
{% endblock %}