{% extends 'form.html' %}
{% block title %}New Event/Fighter{% endblock %}
{% block content %}
<div class="container">
  <div class="form-wrapper m-5">
    <form method="post">
      <h3 class="form-heading">List a new event/fighter (Add all fighters in Main Card)</h3>
      <div class="form-group">
          
          
            <div class="form-group">
              <label for="event_name">Event</label>
              {{ form.event_name(class_ = 'form-control', placeholder='Event Name', autofocus = true) }}
            </div>
            <div class="form-group">
              <label for="event_date">Date (Must use exact format else Error, put :00 for seconds)</label>
              {{ form.event_date(class_ = 'form-control', placeholder='2020-12-12 22:00:00', autofocus = true) }}
            </div>
            <div class="form-group">
              <label for="location">Location</label>
              {{ form.location(class_ = 'form-control', placeholder='Fight Location', autofocus = true) }}
            </div>
          
      </div>
      
      <div class="form-group">
          <label for="division">Division</label>
          <ol>
            <li>men's flyweight</li>
            <li>men's bantamweight</li>
            <li>men's featherweight</li>
            <li>men's lightweight</li>
            <li>men's welterweight</li>
            <li>men's middleweight</li>
            <li>men's light heavyweight</li>
            <li>men's heavyweight</li>
            <li>women's strawweight</li>
            <li>women's flyweight</li>
            <li>women's bantamweight</li>
            <li>women's featherweight</li>
          </ol>
          {{ form.division(class_ = 'form-control', placeholder='1 - 12', autofocus = true) }}
      </div>
      <div class="form-group">
        <label for="figher_1">Fighter 1</label>  
        {{ form.fighter_1(class_ = 'form-control', placeholder='Last Name ONLY use (-)hyphen on multiple',  autofocus = true) }}
      </div>
      <div class="form-group">
        <label for="figher_1_odds">Fighter 1 odds</label>  
        {{ form.fighter_1_odds(class_ = 'form-control', placeholder='ex. -100',  autofocus = true) }}
      </div>
      <div class="form-group">
        <label for="figher_2">Fighter 2</label>  
        {{ form.fighter_2(class_ = 'form-control', placeholder='Last Name ONLY',  autofocus = true) }}
      </div>
      <div class="form-group">
        <label for="figher_2_odds">Fighter 2 odds</label>  
        {{ form.fighter_2_odds(class_ = 'form-control', placeholder='ex. -100',  autofocus = true) }}
      </div>
      <div class="form-group">
        <label for="fight_order">Match Position</label>  
        {{ form.fight_order(class_ = 'form-control', placeholder='Match number',  autofocus = true) }}
      </div>
              
      <input type="submit" value="Create Event/Fighter" class="btn btn-primary btn-lg btn-block">
    </form>
  </div>
</div>
{% endblock %}