{% extends "main.html" %}
{% block content %} 

<div class="container">
    <p>
      <a href="/event-create" class="btn btn-primary my-2">Add New Event</a>
      Add all fighters in the main card.
    </p>
    
    <button class="mt-2 btn btn-primary" id="delete_all" data-event="{{ events[0].event_date }}" onclick="deleteEvent(this.id)">Delete All</button>  
    <div class="h4 text-danger text-center" id="event_deleted"></div>
    <div id="event_container">
      <h1 class="text-center">{{events[0].event_name}}</h1>
      <h3 class="text-center">{{events[0].event_date}}</h3>
      
        {% for item in events %}
          <div id="one_event" class="text-center mb-3">ID: {{  item.id }} - {{ item.fighter_1 }} vs. {{item.fighter_2}} <span id="delete_one" data-event="{{ item.id }}" class="btn-primary btn-sm" onclick="deleteOne(this.id)">Delete</span></div>
        {% endfor %}
    </div>
</div>
<script type="text/javascript">
  
  function deleteEvent(all_id)
    {
      event_div = document.querySelector('#'+ all_id);
      event_date = event_div.dataset.event; 
      
      fetch('/event-delete/' + event_date,{
          method:"DELETE",
          body: JSON.stringify({ "message":"success" }),
          headers: { "Content-Type":"application/json"}
      })
      .then(
        function(response) {
        if (response.status !== 200) {
          console.log('Looks like there was a problem. Status Code: ' +
            response.status);
          return;
        }
  
        // Examine the text in the response
         response.json().then(function(data) {
         console.log(data);
         if(data.success == true){
           let deleteDiv = document.querySelector('#event_deleted');
           deleteDiv.innerHTML = 'ID Deleted: ' + data.deleted;
           document.querySelector('#event_container').style.display = "none";
          }
  
        });
      }
    )
    .catch(function(err) {
      console.log('Fetch Error :-S', err);
      });
    }

  function deleteOne(one_id)
    {
      event_div = document.querySelector('#'+ one_id);
      event_id = event_div.dataset.event; 
      
      fetch('/event-delete/' + event_id,{
          method:"DELETE",
          body: JSON.stringify({ "message":"success" }),
          headers: { "Content-Type":"application/json"}
      })
      .then(
      function(response) {
        if (response.status !== 200) {
          console.log('Looks like there was a problem. Status Code: ' +
            response.status);
          return;
        }
  
        // Examine the text in the response
         response.json().then(function(data) {
         console.log(data);
         if(data.success == true){
           let deleteDiv = document.querySelector('#event_deleted');
           deleteDiv.innerHTML = 'ID Deleted: ' + data.deleted;
           document.querySelector('#one_event').style.display = "none";
          }
  
        });
      }
    )
    .catch(function(err) {
      console.log('Fetch Error :-S', err);
      });
    }
  </script>

{% endblock %}