{% extends "main.html" %}
{% block content %}

<div class="d-flex justify-content-center" id="event_page" data-dateid="{{events[0].event_date}}">

    <div>
      <div class="card mb-4 shadow-sm">
        <img src="../static/img/event.jpg" class="img-fluid" style="max-width: 34rem;" alt="Responsive image">
      </div>
      <div class="h2 text-center">{{ events[0].event_name }}</div>
      <div class="h4 text-center">{{ events[0].event_date|datetime('full') }}</div>
    {% for item in events %}

            <div class="h4 text-center">Match {{item.fight_order}}: <span class="h4 text-danger">{{ item.div_name }}</span></div>

            <p class="font-weight-bold text-center"><mark>{{ item.fighter_1}}</mark> - Odds (<span class="text-primary">{% if item.fighter_1_odds > 0 %}+{% endif %}{{ item.fighter_1_odds }}</span>) VS. <mark>{{item.fighter_2}}</mark> - Odds (<span class="text-primary">{% if item.fighter_2_odds > 0 %}+{% endif %}{{ item.fighter_2_odds }}</span>)</p>
            <div class="card-deck">
                <div class="card text-white bg-success mb-3" style="min-width: 16rem;">
                    <div class="card-header text-center">
                        POLL
                    </div>
                    <div class="card-body text-center">
                    <p class="card-text h4" id="{{item.fighter_1}}_poll">{{item.fighter_1_votes}}</p>
                    </div>
                    <div class="card-footer text-center">
                    <p class="card-text" >
                        Vote for <span class="text-danger font-weight-bold">{{item.fighter_1}}</span>
                            <svg style="cursor: pointer;" class="row_{{loop.index}}" id="{{item.fighter_1}}" data-fighter="1" data-rownum="{{loop.index}}" onClick="update_vote(this.id)" width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-plus-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                                <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                            </svg>
                    </p>
                    </div>
                </div>
                <div class="card text-white bg-success mb-3" style="min-width: 16rem;">
                    <div class="card-header text-center">
                        POLL
                    </div>
                    <div class="card-body text-center">
                    <p class="card-text h4" id="{{item.fighter_2}}_poll">{{item.fighter_2_votes}}</p>
                    </div>
                    <div class="card-footer text-center">
                    <p class="card-text" >
                        Vote for <span class="text-danger font-weight-bold">{{item.fighter_2}}</span>
                            <svg style="cursor: pointer;" class="row_{{loop.index}}" id="{{item.fighter_2}}" data-fighter="2" data-rownum="{{loop.index}}" onClick="update_vote(this.id)" width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-plus-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                                <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                            </svg>
                    </p>
                    </div>
                </div>
            </div>



    {% endfor %}
  </div>
</div>


<script type="text/javascript">
  // self executing function here
  (function() {
    var eventPage = document.getElementById("event_page");
    var eventDate = eventPage.dataset.dateid;
    // Here I check if event exists
    var eventData = localStorage.getItem("event_date");
    if(eventData === null){
      eventData = localStorage.setItem("event_date", eventDate);
    }else if(eventDate !== eventData)
      {
        eventData = localStorage.setItem("event_date", eventDate);
        localStorage.removeItem("row")
      }

    // Check if row item exists
    var existing = localStorage.getItem("row");

    if(existing){
     existing.split(',')}
     else { return;}

    for (let index in existing) {
      let buttons_row = document.getElementsByClassName("row_"+ existing[index]);

      for(var i = 0; i < buttons_row.length; i++){
      // Here we disable the buttons
      buttons_row[i].style.pointerEvents = "none";

      }
    }

  })();

  function update_vote(name)
  {
    const fighter_number = document.querySelector('#' + name);
    let number_fighter = fighter_number.dataset.fighter;

    /* Here we disable the buttons in the clicked row */
    let data_row = fighter_number.dataset.rownum;
    let buttons_row = document.getElementsByClassName("row_"+ data_row);
    for(var index=0;index < buttons_row.length;index++){
            buttons_row[index].style.pointerEvents = "none";
      }

      var addToLocalStorageArray = function (name, value) {
        // Get the existing data
        var existing = localStorage.getItem(name);
        // If no existing data, create an array
        // Otherwise, convert the localStorage string to an array
        existing = existing ? existing.split(',') : [];
        // Add new data to localStorage Array
        existing.push(value);
        // Save back to localStorage
        localStorage.setItem(name, existing.toString());
        };

     addToLocalStorageArray("row", data_row);


    fetch('/event/plus/' + name +'/' + number_fighter,{
        method:"PATCH",
        body: JSON.stringify({ "disabled": data_row }),
        headers: { "Content-Type":"application/json"}
    })
    .then(
    function(response) {
      if (response.status !== 200) {
        console.log('Looks like there was a problem. Status Code: ' +
          response.status);
        return;
      }

      // Examine the text in the response
       response.json().then(function(data) {
       let fighter_num = data.fighter_votes[0].fighter_number;

       if (fighter_num == 1){
        let total_votes = data.fighter_votes[0].fighter_1_votes;
        let poll_div = document.querySelector('#' + name + '_poll');

        poll_div.innerHTML = total_votes;
       } else {
        let total_votes = data.fighter_votes[0].fighter_2_votes;
        let poll_div = document.querySelector('#' + name + '_poll');
        poll_div.innerHTML = total_votes;
       }


      });
    }
  )
  .catch(function(err) {
    console.log('Fetch Error :-S', err);
    });
  }
</script>

{% endblock %}