{% extends "main.html" %}
{% block content %} 

<main role="main" >

  
      <div class="h4 mt-3 text-center"  >
        <a style="text-decoration: none; color: inherit;" href="/event/{{events[0].event_date}}"><span class="black-outline" style="font-family: ninjaFont; color:red;">Upcoming Event:</span> {{ events[0].event_name }} - {{ events[0].event_date|datetime('full') }}</a>{% if userinfo['name'] == session['Admin'] or userinfo['name'] == session['Event Editor'] %}<a href="/event-delete/{{ events[0].event_date }}" class="ml-2 btn-sm btn-warning">Add/Delete</a>{% endif %} 
      </div>  
    
    <div class="card-deck p-3">
        <div class="card" style="width: 18rem;">
          <a href="/division_fighters/1" style="text-decoration: none; color: inherit;">
            <div class="card-header text-white bg-danger h4">Men's Flyweight</div>
            <div class="card-body">
              <h4 class="card-title"><span class="badge badge-primary badge-pill">Champ</span> {{ div_1[0].first_name}} {{ div_1[0].last_name }}</h4>
            </div>
            
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><span class="badge badge-primary badge-pill">1</span> {{ div_1[1].first_name}} {{ div_1[1].last_name }}</li>
              <li class="list-group-item"><span class="badge badge-primary badge-pill">2</span> {{ div_1[2].first_name}} {{ div_1[2].last_name }}</li>
              <li class="list-group-item"><span class="badge badge-primary badge-pill">3</span> {{ div_1[3].first_name}} {{ div_1[3].last_name }}</li>
              <li class="list-group-item"><span class="badge badge-primary badge-pill">4</span> {{ div_1[4].first_name}} {{ div_1[4].last_name }}</li>
              <li class="list-group-item"><span class="badge badge-primary badge-pill">5</span> {{ div_1[5].first_name}} {{ div_1[5].last_name }}</li>
            </ul>
          </a>
        </div>
        <div class="card" style="width: 18rem;">
          <a href="/division_fighters/2" style="text-decoration: none; color: inherit;">
            <div class="card-header text-white bg-danger h4">Men's Bantamweight</div>
            <div class="card-body">
              <h4 class="card-title"><span class="badge badge-primary badge-pill">Champ</span> {{ div_2[0].first_name}} {{ div_2[0].last_name }}</h4>
            </div>
            
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><span class="badge badge-primary badge-pill">1</span> {{ div_2[1].first_name}} {{ div_2[1].last_name }}</li>
              <li class="list-group-item"><span class="badge badge-primary badge-pill">2</span> {{ div_2[2].first_name}} {{ div_2[2].last_name }}</li>
              <li class="list-group-item"><span class="badge badge-primary badge-pill">3</span> {{ div_2[3].first_name}} {{ div_2[3].last_name }}</li>
              <li class="list-group-item"><span class="badge badge-primary badge-pill">4</span> {{ div_2[4].first_name}} {{ div_2[4].last_name }}</li>
              <li class="list-group-item"><span class="badge badge-primary badge-pill">5</span> {{ div_2[5].first_name}} {{ div_2[5].last_name }}</li>
            </ul>
          </a>
        </div>
        <div class="card" style="width: 18rem;">
          <a href="/division_fighters/3" style="text-decoration: none; color: inherit;">
            <div class="card-header text-white bg-danger h4">Men's Featherweight</div>
            <div class="card-body">
              <h4 class="card-title"><span class="badge badge-primary badge-pill">Champ</span> {{ div_3[0].first_name}} {{ div_3[0].last_name }}</h4>
            </div>
            
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><span class="badge badge-primary badge-pill">1</span> {{ div_3[1].first_name}} {{ div_3[1].last_name }}</li>
              <li class="list-group-item"><span class="badge badge-primary badge-pill">2</span> {{ div_3[2].first_name}} {{ div_3[2].last_name }}</li>
              <li class="list-group-item"><span class="badge badge-primary badge-pill">3</span> {{ div_3[3].first_name}} {{ div_3[3].last_name }}</li>
              <li class="list-group-item"><span class="badge badge-primary badge-pill">4</span> {{ div_3[4].first_name}} {{ div_3[4].last_name }}</li>
              <li class="list-group-item"><span class="badge badge-primary badge-pill">5</span> {{ div_3[5].first_name}} {{ div_3[5].last_name }}</li>
            </ul>
          </a>
        </div>
        <div class="card" style="width: 18rem;">
          <a href="/division_fighters/4" style="text-decoration: none; color: inherit;">
            <div class="card-header text-white bg-danger h4">Men's Lightweight</div>
            <div class="card-body">
              <h4 class="card-title"><span class="badge badge-primary badge-pill">Champ</span> {{ div_4[0].first_name}} {{ div_4[0].last_name }}</h4>
            </div>
            
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><span class="badge badge-primary badge-pill">1</span> {{ div_4[1].first_name}} {{ div_4[1].last_name }}</li>
              <li class="list-group-item"><span class="badge badge-primary badge-pill">2</span> {{ div_4[2].first_name}} {{ div_4[2].last_name }}</li>
              <li class="list-group-item"><span class="badge badge-primary badge-pill">3</span> {{ div_4[3].first_name}} {{ div_4[3].last_name }}</li>
              <li class="list-group-item"><span class="badge badge-primary badge-pill">4</span> {{ div_4[4].first_name}} {{ div_4[4].last_name }}</li>
              <li class="list-group-item"><span class="badge badge-primary badge-pill">5</span> {{ div_4[5].first_name}} {{ div_4[5].last_name }}</li>
            </ul>
          </a>
        </div>
    </div>
    <div class="card-deck p-3">
      <div class="card" style="width: 18rem;">
        <a href="/division_fighters/5" style="text-decoration: none; color: inherit;">
          <div class="card-header text-white bg-danger h4">Men's Welterweight</div>
          <div class="card-body">
            <h4 class="card-title"><span class="badge badge-primary badge-pill">Champ</span> {{ div_5[0].first_name}} {{ div_5[0].last_name }}</h4>
          </div>
          
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><span class="badge badge-primary badge-pill">1</span> {{ div_5[1].first_name}} {{ div_5[1].last_name }}</li>
            <li class="list-group-item"><span class="badge badge-primary badge-pill">2</span> {{ div_5[2].first_name}} {{ div_5[2].last_name }}</li>
            <li class="list-group-item"><span class="badge badge-primary badge-pill">3</span> {{ div_5[3].first_name}} {{ div_5[3].last_name }}</li>
            <li class="list-group-item"><span class="badge badge-primary badge-pill">4</span> {{ div_5[4].first_name}} {{ div_5[4].last_name }}</li>
            <li class="list-group-item"><span class="badge badge-primary badge-pill">5</span> {{ div_5[5].first_name}} {{ div_5[5].last_name }}</li>
          </ul>
        </a>
      </div>
      <div class="card" style="width: 18rem;">
        <a href="/division_fighters/6" style="text-decoration: none; color: inherit;">
          <div class="card-header text-white bg-danger h4">Men's Middleweight</div>
          <div class="card-body">
            <h4 class="card-title"><span class="badge badge-primary badge-pill">Champ</span> {{ div_6[0].first_name}} {{ div_6[0].last_name }}</h4>
          </div>
          
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><span class="badge badge-primary badge-pill">1</span> {{ div_6[1].first_name}} {{ div_6[1].last_name }}</li>
            <li class="list-group-item"><span class="badge badge-primary badge-pill">2</span> {{ div_6[2].first_name}} {{ div_6[2].last_name }}</li>
            <li class="list-group-item"><span class="badge badge-primary badge-pill">3</span> {{ div_6[3].first_name}} {{ div_6[3].last_name }}</li>
            <li class="list-group-item"><span class="badge badge-primary badge-pill">4</span> {{ div_6[4].first_name}} {{ div_6[4].last_name }}</li>
            <li class="list-group-item"><span class="badge badge-primary badge-pill">5</span> {{ div_6[5].first_name}} {{ div_6[5].last_name }}</li>
          </ul>
        </a>
      </div>
      <div class="card" style="width: 18rem;">
        <a href="/division_fighters/7" style="text-decoration: none; color: inherit;">
          <div class="card-header text-white bg-danger h4">Men's Light Heavyweight</div>
          <div class="card-body">
            <h4 class="card-title"><span class="badge badge-primary badge-pill">Champ</span> {{ div_7[0].first_name}} {{ div_7[0].last_name }}</h4>
          </div>
          
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><span class="badge badge-primary badge-pill">1</span> {{ div_7[1].first_name}} {{ div_7[1].last_name }}</li>
            <li class="list-group-item"><span class="badge badge-primary badge-pill">2</span> {{ div_7[2].first_name}} {{ div_7[2].last_name }}</li>
            <li class="list-group-item"><span class="badge badge-primary badge-pill">3</span> {{ div_7[3].first_name}} {{ div_7[3].last_name }}</li>
            <li class="list-group-item"><span class="badge badge-primary badge-pill">4</span> {{ div_7[4].first_name}} {{ div_7[4].last_name }}</li>
            <li class="list-group-item"><span class="badge badge-primary badge-pill">5</span> {{ div_7[5].first_name}} {{ div_7[5].last_name }}</li>
          </ul>
        </a>
      </div>
      <div class="card" style="width: 18rem;">
        <a href="/division_fighters/8" style="text-decoration: none; color: inherit;">
          <div class="card-header text-white bg-danger h4">Men's Heavyweight</div>
          <div class="card-body">
            <h4 class="card-title"><span class="badge badge-primary badge-pill">Champ</span> {{ div_8[0].first_name}} {{ div_8[0].last_name }}</h4>
          </div>
          
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><span class="badge badge-primary badge-pill">1</span> {{ div_8[1].first_name}} {{ div_8[1].last_name }}</li>
            <li class="list-group-item"><span class="badge badge-primary badge-pill">2</span> {{ div_8[2].first_name}} {{ div_8[2].last_name }}</li>
            <li class="list-group-item"><span class="badge badge-primary badge-pill">3</span> {{ div_8[3].first_name}} {{ div_8[3].last_name }}</li>
            <li class="list-group-item"><span class="badge badge-primary badge-pill">4</span> {{ div_8[4].first_name}} {{ div_8[4].last_name }}</li>
            <li class="list-group-item"><span class="badge badge-primary badge-pill">5</span> {{ div_8[5].first_name}} {{ div_8[5].last_name }}</li>
          </ul>
        </a>
      </div>
  </div>
  <div class="card-deck p-3">
    <div class="card" style="width: 18rem;">
      <a href="/division_fighters/9" style="text-decoration: none; color: inherit;">
        <div class="card-header text-white bg-danger h4">Women's Strawweight</div>
        <div class="card-body">
          <h4 class="card-title"><span class="badge badge-primary badge-pill">Champ</span> {{ div_9[0].first_name}} {{ div_9[0].last_name }}</h4>
        </div>
        
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><span class="badge badge-primary badge-pill">1</span> {{ div_9[1].first_name}} {{ div_9[1].last_name }}</li>
          <li class="list-group-item"><span class="badge badge-primary badge-pill">2</span> {{ div_9[2].first_name}} {{ div_9[2].last_name }}</li>
          <li class="list-group-item"><span class="badge badge-primary badge-pill">3</span> {{ div_9[3].first_name}} {{ div_9[3].last_name }}</li>
          <li class="list-group-item"><span class="badge badge-primary badge-pill">4</span> {{ div_9[4].first_name}} {{ div_9[4].last_name }}</li>
          <li class="list-group-item"><span class="badge badge-primary badge-pill">5</span> {{ div_9[5].first_name}} {{ div_9[5].last_name }}</li>
        </ul>
      </a>
    </div>
    <div class="card" style="width: 18rem;">
      <a href="/division_fighters/10" style="text-decoration: none; color: inherit;">
        <div class="card-header text-white bg-danger h4">Women's Flyweight</div>
        <div class="card-body">
          <h4 class="card-title"><span class="badge badge-primary badge-pill">Champ</span> {{ div_10[0].first_name}} {{ div_10[0].last_name }}</h4>
        </div>
        
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><span class="badge badge-primary badge-pill">1</span> {{ div_10[1].first_name}} {{ div_10[1].last_name }}</li>
          <li class="list-group-item"><span class="badge badge-primary badge-pill">2</span> {{ div_10[2].first_name}} {{ div_10[2].last_name }}</li>
          <li class="list-group-item"><span class="badge badge-primary badge-pill">3</span> {{ div_10[3].first_name}} {{ div_10[3].last_name }}</li>
          <li class="list-group-item"><span class="badge badge-primary badge-pill">4</span> {{ div_10[4].first_name}} {{ div_10[4].last_name }}</li>
          <li class="list-group-item"><span class="badge badge-primary badge-pill">5</span> {{ div_10[5].first_name}} {{ div_10[5].last_name }}</li>
        </ul>
      </a>
    </div>
    <div class="card" style="width: 18rem;">
      <a href="/division_fighters/11" style="text-decoration: none; color: inherit;">
        <div class="card-header text-white bg-danger h4">Women's Bantamweight</div>
        <div class="card-body">
          <h4 class="card-title"><span class="badge badge-primary badge-pill">Champ</span> {{ div_11[0].first_name}} {{ div_11[0].last_name }}</h4>
        </div>
        
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><span class="badge badge-primary badge-pill">1</span> {{ div_11[1].first_name}} {{ div_11[1].last_name }}</li>
          <li class="list-group-item"><span class="badge badge-primary badge-pill">2</span> {{ div_11[2].first_name}} {{ div_11[2].last_name }}</li>
          <li class="list-group-item"><span class="badge badge-primary badge-pill">3</span> {{ div_11[3].first_name}} {{ div_11[3].last_name }}</li>
          <li class="list-group-item"><span class="badge badge-primary badge-pill">4</span> {{ div_11[4].first_name}} {{ div_11[4].last_name }}</li>
          <li class="list-group-item"><span class="badge badge-primary badge-pill">5</span> {{ div_11[5].first_name}} {{ div_11[5].last_name }}</li>
        </ul>
      </a>
    </div>
    <div class="card" style="width: 18rem;">
      <a href="/division_fighters/12" style="text-decoration: none; color: inherit;">
        <div class="card-header text-white bg-danger h4">Women's Featherweight</div>
        <div class="card-body">
          <h4 class="card-title"><span class="badge badge-primary badge-pill">Champ</span> {{ div_12[0].first_name}} {{ div_4[0].last_name }}</h4>
        </div>
        
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><span class="badge badge-primary badge-pill">1</span> {{ div_12[1].first_name}} {{ div_12[1].last_name }}</li>
          <li class="list-group-item"><span class="badge badge-primary badge-pill">2</span> {{ div_12[2].first_name}} {{ div_12[2].last_name }}</li>
          <li class="list-group-item"><span class="badge badge-primary badge-pill">3</span> {{ div_12[3].first_name}} {{ div_12[3].last_name }}</li>
          <li class="list-group-item"><span class="badge badge-primary badge-pill">4</span> {{ div_12[4].first_name}} {{ div_12[4].last_name }}</li>
          <li class="list-group-item"><span class="badge badge-primary badge-pill">5</span> {{ div_12[5].first_name}} {{ div_12[5].last_name }}</li>
        </ul>
      </a>  
    </div>
</div>     
  
  </main>

  {% endblock %}