{% extends "main.html" %}
{% block content %}

<main role="main" >

      <!-- Here I check if you are authorized to edit the event -->
      <div class="h4 mt-3 text-center"  >
        <a style="text-decoration: none; color: inherit;" href="/event/{{events[0].event_date}}"><span class="black-outline" style="font-family: ninjaFont; color:red;">Upcoming Event:</span> {{ events[0].event_name }} - {{ events[0].event_date|datetime('full') }}</a>{% if userinfo['name'] == session['Admin'] or userinfo['name'] == session['Event Editor'] %}<a style="text-decoration: none;" href="/event-delete/{{ events[0].event_date }}" class="ml-2 btn-sm btn-warning">Add/Delete</a>{% endif %}
      </div>
    <!-- Here I list all the fighters by division -->
    <div class="card-deck p-3">
        <div class="card" style="width: 18rem;">
            <a href="/division_fighters/1" >
                <div class="card-header text-white bg-danger h4">Men's Flyweight</div>
            </a>
            <div class="card-body">
              <a href="/fighter/{{div_data[0].id}}"><h5 class="card-title"><span class="badge badge-primary badge-pill">Champ</span> {{ div_data[0].first_name}} {{ div_data[0].last_name }}</h5></a>
            </div>

            <ul class="list-group list-group-flush">
              <a href="/fighter/{{div_data[1].id}}"><li class="list-group-item"><span class="badge badge-primary badge-pill">1</span> {{ div_data[1].first_name}} {{ div_data[1].last_name }}</li></a>
              <a href="/fighter/{{div_data[2].id}}"><li class="list-group-item"><span class="badge badge-primary badge-pill">2</span> {{ div_data[2].first_name}} {{ div_data[2].last_name }}</li></a>
              <a href="/fighter/{{div_data[3].id}}"><li class="list-group-item"><span class="badge badge-primary badge-pill">3</span> {{ div_data[3].first_name}} {{ div_data[3].last_name }}</li></a>
              <a href="/fighter/{{div_data[4].id}}"><li class="list-group-item"><span class="badge badge-primary badge-pill">4</span> {{ div_data[4].first_name}} {{ div_data[4].last_name }}</li></a>
              <a href="/fighter/{{div_data[5].id}}"><li class="list-group-item"><span class="badge badge-primary badge-pill">5</span> {{ div_data[5].first_name}} {{ div_data[5].last_name }}</li></a>
            </ul>

        </div>
        <div class="card" style="width: 18rem;">
            <a href="/division_fighters/2" style="text-decoration: none; color: inherit;">
              <div class="card-header text-white bg-danger h4">Men's Bantamweight</div>
            </a>
            <div class="card-body">
              <a href="/fighter/{{div_data[6].id}}"><h5 class="card-title"><span class="badge badge-primary badge-pill">Champ</span> {{ div_data[6].first_name}} {{ div_data[6].last_name }}</h5></a>
            </div>

            <ul class="list-group list-group-flush">
              <a href="/fighter/{{div_data[7].id}}"><li class="list-group-item"><span class="badge badge-primary badge-pill">1</span> {{ div_data[7].first_name}} {{ div_data[7].last_name }}</li></a>
              <a href="/fighter/{{div_data[8].id}}"><li class="list-group-item"><span class="badge badge-primary badge-pill">2</span> {{ div_data[8].first_name}} {{ div_data[8].last_name }}</li></a>
              <a href="/fighter/{{div_data[9].id}}"><li class="list-group-item"><span class="badge badge-primary badge-pill">3</span> {{ div_data[9].first_name}} {{ div_data[9].last_name }}</li></a>
              <a href="/fighter/{{div_data[10].id}}"><li class="list-group-item"><span class="badge badge-primary badge-pill">4</span> {{ div_data[10].first_name}} {{ div_data[10].last_name }}</li></a>
              <a href="/fighter/{{div_data[11].id}}"><li class="list-group-item"><span class="badge badge-primary badge-pill">5</span> {{ div_data[11].first_name}} {{ div_data[11].last_name }}</li></a>
            </ul>

        </div>
        <div class="card" style="width: 18rem;">
            <a href="/division_fighters/3" style="text-decoration: none; color: inherit;">
              <div class="card-header text-white bg-danger h4">Men's Featherweight</div>
            </a>
            <div class="card-body">
              <a href="/fighter/{{div_data[12].id}}"><h5 class="card-title"><span class="badge badge-primary badge-pill">Champ</span> {{ div_data[12].first_name}} {{ div_data[12].last_name }}</h5></a>
            </div>

            <ul class="list-group list-group-flush">
              <a href="/fighter/{{div_data[13].id}}"><li class="list-group-item"><span class="badge badge-primary badge-pill">1</span> {{ div_data[13].first_name}} {{ div_data[13].last_name }}</li></a>
              <a href="/fighter/{{div_data[14].id}}"><li class="list-group-item"><span class="badge badge-primary badge-pill">2</span> {{ div_data[14].first_name}} {{ div_data[14].last_name }}</li></a>
              <a href="/fighter/{{div_data[15].id}}"><li class="list-group-item"><span class="badge badge-primary badge-pill">3</span> {{ div_data[15].first_name}} {{ div_data[15].last_name }}</li></a>
              <a href="/fighter/{{div_data[16].id}}"><li class="list-group-item"><span class="badge badge-primary badge-pill">4</span> {{ div_data[16].first_name}} {{ div_data[16].last_name }}</li></a>
              <a href="/fighter/{{div_data[17].id}}"><li class="list-group-item"><span class="badge badge-primary badge-pill">5</span> {{ div_data[17].first_name}} {{ div_data[17].last_name }}</li></a>
            </ul>

        </div>
        <div class="card" style="width: 18rem;">
            <a href="/division_fighters/4" style="text-decoration: none; color: inherit;">
              <div class="card-header text-white bg-danger h4">Men's Lightweight</div>
            </a>
            <div class="card-body">
              <a href="/fighter/{{div_data[18].id}}"><h5 class="card-title"><span class="badge badge-primary badge-pill">Champ</span> {{ div_data[18].first_name}} {{ div_data[18].last_name }}</h5></a>
            </div>

            <ul class="list-group list-group-flush">
              <a href="/fighter/{{div_data[19].id}}"><li class="list-group-item"><span class="badge badge-primary badge-pill">1</span> {{ div_data[19].first_name}} {{ div_data[19].last_name }}</li></a>
              <a href="/fighter/{{div_data[20].id}}"><li class="list-group-item"><span class="badge badge-primary badge-pill">2</span> {{ div_data[20].first_name}} {{ div_data[20].last_name }}</li></a>
              <a href="/fighter/{{div_data[21].id}}"><li class="list-group-item"><span class="badge badge-primary badge-pill">3</span> {{ div_data[21].first_name}} {{ div_data[21].last_name }}</li></a>
              <a href="/fighter/{{div_data[22].id}}"><li class="list-group-item"><span class="badge badge-primary badge-pill">4</span> {{ div_data[22].first_name}} {{ div_data[22].last_name }}</li></a>
              <a href="/fighter/{{div_data[23].id}}"><li class="list-group-item"><span class="badge badge-primary badge-pill">5</span> {{ div_data[23].first_name}} {{ div_data[23].last_name }}</li></a>
            </ul>

        </div>
    </div>
    <div class="card-deck p-3">
      <div class="card" style="width: 18rem;">
          <a href="/division_fighters/5" style="text-decoration: none; color: inherit;">
            <div class="card-header text-white bg-danger h4">Men's Welterweight</div>
          </a>
          <div class="card-body">
            <a href="/fighter/{{div_data[24].id}}"><h5 class="card-title"><span class="badge badge-primary badge-pill">Champ</span> {{ div_data[24].first_name}} {{ div_data[24].last_name }}</h5></a>
          </div>

          <ul class="list-group list-group-flush">
            <a href="/fighter/{{div_data[25].id}}"><li class="list-group-item"><span class="badge badge-primary badge-pill">1</span> {{ div_data[25].first_name}} {{ div_data[25].last_name }}</li></a>
            <a href="/fighter/{{div_data[26].id}}"><li class="list-group-item"><span class="badge badge-primary badge-pill">2</span> {{ div_data[26].first_name}} {{ div_data[26].last_name }}</li></a>
            <a href="/fighter/{{div_data[27].id}}"><li class="list-group-item"><span class="badge badge-primary badge-pill">3</span> {{ div_data[27].first_name}} {{ div_data[27].last_name }}</li></a>
            <a href="/fighter/{{div_data[28].id}}"><li class="list-group-item"><span class="badge badge-primary badge-pill">4</span> {{ div_data[28].first_name}} {{ div_data[28].last_name }}</li></a>
            <a href="/fighter/{{div_data[29].id}}"><li class="list-group-item"><span class="badge badge-primary badge-pill">5</span> {{ div_data[29].first_name}} {{ div_data[29].last_name }}</li></a>
          </ul>

      </div>
      <div class="card" style="width: 18rem;">
          <a href="/division_fighters/6" style="text-decoration: none; color: inherit;">
            <div class="card-header text-white bg-danger h4">Men's Middleweight</div>
          </a>
          <div class="card-body">
            <a href="/fighter/{{div_data[30].id}}"><h5 class="card-title"><span class="badge badge-primary badge-pill">Champ</span> {{ div_data[30].first_name}} {{ div_data[30].last_name }}</h5></a>
          </div>

          <ul class="list-group list-group-flush">
            <a href="/fighter/{{div_data[31].id}}"><li class="list-group-item"><span class="badge badge-primary badge-pill">1</span> {{ div_data[31].first_name}} {{ div_data[31].last_name }}</li></a>
            <a href="/fighter/{{div_data[32].id}}"><li class="list-group-item"><span class="badge badge-primary badge-pill">2</span> {{ div_data[32].first_name}} {{ div_data[32].last_name }}</li></a>
            <a href="/fighter/{{div_data[33].id}}"><li class="list-group-item"><span class="badge badge-primary badge-pill">3</span> {{ div_data[33].first_name}} {{ div_data[33].last_name }}</li></a>
            <a href="/fighter/{{div_data[34].id}}"><li class="list-group-item"><span class="badge badge-primary badge-pill">4</span> {{ div_data[34].first_name}} {{ div_data[34].last_name }}</li></a>
            <a href="/fighter/{{div_data[35].id}}"><li class="list-group-item"><span class="badge badge-primary badge-pill">5</span> {{ div_data[35].first_name}} {{ div_data[35].last_name }}</li></a>
          </ul>

      </div>
      <div class="card" style="width: 18rem;">
          <a href="/division_fighters/7" style="text-decoration: none; color: inherit;">
            <div class="card-header text-white bg-danger h4">Men's Light Heavyweight</div>
          </a>
          <div class="card-body">
            <a href="/fighter/{{div_data[36].id}}"><h5 class="card-title"><span class="badge badge-primary badge-pill">Champ</span> {{ div_data[36].first_name}} {{ div_data[36].last_name }}</h5></a>
          </div>

          <ul class="list-group list-group-flush">
            <a href="/fighter/{{div_data[37].id}}"><li class="list-group-item"><span class="badge badge-primary badge-pill">1</span> {{ div_data[37].first_name}} {{ div_data[37].last_name }}</li></a>
            <a href="/fighter/{{div_data[38].id}}"><li class="list-group-item"><span class="badge badge-primary badge-pill">2</span> {{ div_data[38].first_name}} {{ div_data[38].last_name }}</li></a>
            <a href="/fighter/{{div_data[39].id}}"><li class="list-group-item"><span class="badge badge-primary badge-pill">3</span> {{ div_data[39].first_name}} {{ div_data[39].last_name }}</li></a>
            <a href="/fighter/{{div_data[40].id}}"><li class="list-group-item"><span class="badge badge-primary badge-pill">4</span> {{ div_data[40].first_name}} {{ div_data[40].last_name }}</li></a>
            <a href="/fighter/{{div_data[41].id}}"><li class="list-group-item"><span class="badge badge-primary badge-pill">5</span> {{ div_data[41].first_name}} {{ div_data[41].last_name }}</li></a>
          </ul>

      </div>
      <div class="card" style="width: 18rem;">
          <a href="/division_fighters/8" style="text-decoration: none; color: inherit;">
            <div class="card-header text-white bg-danger h4">Men's Heavyweight</div>
          </a>
          <div class="card-body">
            <a href="/fighter/{{div_data[42].id}}"><h5 class="card-title"><span class="badge badge-primary badge-pill">Champ</span> {{ div_data[42].first_name}} {{ div_data[42].last_name }}</h5></a>
          </div>

          <ul class="list-group list-group-flush">
            <a href="/fighter/{{div_data[43].id}}"><li class="list-group-item"><span class="badge badge-primary badge-pill">1</span> {{ div_data[43].first_name}} {{ div_data[43].last_name }}</li></a>
            <a href="/fighter/{{div_data[44].id}}"><li class="list-group-item"><span class="badge badge-primary badge-pill">2</span> {{ div_data[44].first_name}} {{ div_data[44].last_name }}</li></a>
            <a href="/fighter/{{div_data[45].id}}"><li class="list-group-item"><span class="badge badge-primary badge-pill">3</span> {{ div_data[45].first_name}} {{ div_data[45].last_name }}</li></a>
            <a href="/fighter/{{div_data[46].id}}"><li class="list-group-item"><span class="badge badge-primary badge-pill">4</span> {{ div_data[46].first_name}} {{ div_data[46].last_name }}</li></a>
            <a href="/fighter/{{div_data[47].id}}"><li class="list-group-item"><span class="badge badge-primary badge-pill">5</span> {{ div_data[47].first_name}} {{ div_data[47].last_name }}</li></a>
          </ul>

      </div>
  </div>
  <div class="card-deck p-3">
    <div class="card" style="width: 18rem;">
        <a href="/division_fighters/9" style="text-decoration: none; color: inherit;">
          <div class="card-header text-white bg-danger h4">Women's Strawweight</div>
        </a>
        <div class="card-body">
          <a href="/fighter/{{div_data[48].id}}"><h5 class="card-title"><span class="badge badge-primary badge-pill">Champ</span> {{ div_data[48].first_name}} {{ div_data[48].last_name }}</h5></a>
        </div>

        <ul class="list-group list-group-flush">
          <a href="/fighter/{{div_data[49].id}}"><li class="list-group-item"><span class="badge badge-primary badge-pill">1</span> {{ div_data[49].first_name}} {{ div_data[49].last_name }}</li></a>
          <a href="/fighter/{{div_data[50].id}}"><li class="list-group-item"><span class="badge badge-primary badge-pill">2</span> {{ div_data[50].first_name}} {{ div_data[50].last_name }}</li></a>
          <a href="/fighter/{{div_data[51].id}}"><li class="list-group-item"><span class="badge badge-primary badge-pill">3</span> {{ div_data[51].first_name}} {{ div_data[51].last_name }}</li></a>
          <a href="/fighter/{{div_data[52].id}}"><li class="list-group-item"><span class="badge badge-primary badge-pill">4</span> {{ div_data[52].first_name}} {{ div_data[52].last_name }}</li></a>
          <a href="/fighter/{{div_data[53].id}}"><li class="list-group-item"><span class="badge badge-primary badge-pill">5</span> {{ div_data[53].first_name}} {{ div_data[53].last_name }}</li></a>
        </ul>

    </div>
    <div class="card" style="width: 18rem;">
        <a href="/division_fighters/10" style="text-decoration: none; color: inherit;">
          <div class="card-header text-white bg-danger h4">Women's Flyweight</div>
        </a>
        <div class="card-body">
          <a href="/fighter/{{div_data[54].id}}"><h5 class="card-title"><span class="badge badge-primary badge-pill">Champ</span> {{ div_data[54].first_name}} {{ div_data[54].last_name }}</h5></a>
        </div>

        <ul class="list-group list-group-flush">
          <a href="/fighter/{{div_data[55].id}}"><li class="list-group-item"><span class="badge badge-primary badge-pill">1</span> {{ div_data[55].first_name}} {{ div_data[55].last_name }}</li></a>
          <a href="/fighter/{{div_data[56].id}}"><li class="list-group-item"><span class="badge badge-primary badge-pill">2</span> {{ div_data[56].first_name}} {{ div_data[56].last_name }}</li></a>
          <a href="/fighter/{{div_data[57].id}}"><li class="list-group-item"><span class="badge badge-primary badge-pill">3</span> {{ div_data[57].first_name}} {{ div_data[57].last_name }}</li></a>
          <a href="/fighter/{{div_data[58].id}}"><li class="list-group-item"><span class="badge badge-primary badge-pill">4</span> {{ div_data[58].first_name}} {{ div_data[58].last_name }}</li></a>
          <a href="/fighter/{{div_data[59].id}}"><li class="list-group-item"><span class="badge badge-primary badge-pill">5</span> {{ div_data[59].first_name}} {{ div_data[59].last_name }}</li></a>
        </ul>

    </div>
    <div class="card" style="width: 18rem;">
        <a href="/division_fighters/11" style="text-decoration: none; color: inherit;">
          <div class="card-header text-white bg-danger h4">Women's Bantamweight</div>
        </a>
        <div class="card-body">
          <a href="/fighter/{{div_data[60].id}}"><h5 class="card-title"><span class="badge badge-primary badge-pill">Champ</span> {{ div_data[60].first_name}} {{ div_data[60].last_name }}</h5></a>
        </div>

        <ul class="list-group list-group-flush">
          <a href="/fighter/{{div_data[61].id}}"><li class="list-group-item"><span class="badge badge-primary badge-pill">1</span> {{ div_data[61].first_name}} {{ div_data[61].last_name }}</li></a>
          <a href="/fighter/{{div_data[62].id}}"><li class="list-group-item"><span class="badge badge-primary badge-pill">2</span> {{ div_data[62].first_name}} {{ div_data[62].last_name }}</li></a>
          <a href="/fighter/{{div_data[63].id}}"><li class="list-group-item"><span class="badge badge-primary badge-pill">3</span> {{ div_data[63].first_name}} {{ div_data[63].last_name }}</li></a>
          <a href="/fighter/{{div_data[64].id}}"><li class="list-group-item"><span class="badge badge-primary badge-pill">4</span> {{ div_data[64].first_name}} {{ div_data[64].last_name }}</li></a>
          <a href="/fighter/{{div_data[65].id}}"><li class="list-group-item"><span class="badge badge-primary badge-pill">5</span> {{ div_data[65].first_name}} {{ div_data[65].last_name }}</li></a>
        </ul>

    </div>
    <div class="card" style="width: 18rem;">
        <a href="/division_fighters/12" style="text-decoration: none; color: inherit;">
          <div class="card-header text-white bg-danger h4">Women's Featherweight</div>
        </a>
        <div class="card-body">
          <a href="/fighter/{{div_data[66].id}}"><h5 class="card-title"><span class="badge badge-primary badge-pill">Champ</span> {{ div_data[66].first_name}} {{ div_data[66].last_name }}</h5></a>
        </div>

        <ul class="list-group list-group-flush">
          <a href="/fighter/{{div_data[67].id}}"><li class="list-group-item"><span class="badge badge-primary badge-pill">1</span> {{ div_data[67].first_name}} {{ div_data[67].last_name }}</li></a>
          <a href="/fighter/{{div_data[68].id}}"><li class="list-group-item"><span class="badge badge-primary badge-pill">2</span> {{ div_data[68].first_name}} {{ div_data[68].last_name }}</li></a>
          <a href="/fighter/{{div_data[69].id}}"><li class="list-group-item"><span class="badge badge-primary badge-pill">3</span> {{ div_data[69].first_name}} {{ div_data[69].last_name }}</li></a>
          <a href="/fighter/{{div_data[70].id}}"><li class="list-group-item"><span class="badge badge-primary badge-pill">4</span> {{ div_data[70].first_name}} {{ div_data[70].last_name }}</li></a>
          <a href="/fighter/{{div_data[71].id}}"><li class="list-group-item"><span class="badge badge-primary badge-pill">5</span> {{ div_data[71].first_name}} {{ div_data[71].last_name }}</li></a>
        </ul>

    </div>
</div>

  </main>

  {% endblock %}