{% extends "main.html" %}
{% block content %} 
<main role="main">

    <section class="jumbotron text-center">
      <div class="container">
        
        {% for item in events %}
<p> {{ item.event_name }} {{ item.event_date|datetime('full') }}</p>
<button type="button" class="btn btn-primary">+</button>
{% endfor %}

        
        
      </div>
    </section>
  
    <div class="album py-5 bg-light">
      <div class="container">
        
        
        
        <div class="d-flex justify-content-center">
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <!--<svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>-->
              {% if fighters[0].sex.upper() == 'M' %}
              <img src="/static/img/male.png" class="img-fluid" alt="Responsive image">
              {% else %}
              <img src="/static/img/female.png" class="img-fluid" alt="Responsive image">
              {% endif %}
              <div class="card-body">               
                <p class="card-text">{{ fighters[0].first_name}} {{ fighters[0].last_name }}</p>
                
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-center">
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              {% if fighters[0].sex.upper() == 'M' %}
              <img src="/static/img/male2.png" class="img-fluid" alt="Responsive image">
              {% else %}
              <img src="/static/img/female2.jpg" class="img-fluid" alt="Responsive image">
              {% endif %}
              <div class="card-body">
                <p class="card-text">{{ fighters[1].first_name}} {{ fighters[1].last_name }}</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              {% if fighters[0].sex.upper() == 'M' %}
              <img src="/static/img/male2.png" class="img-fluid" alt="Responsive image">
              {% else %}
              <img src="/static/img/female2.jpg" class="img-fluid" alt="Responsive image">
              {% endif %}
              <div class="card-body">
                <p class="card-text">{{ fighters[2].first_name}} {{ fighters[2].last_name }}</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-center">
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              {% if fighters[0].sex.upper() == 'M' %}
              <img src="/static/img/male2.png" class="img-fluid" alt="Responsive image">
              {% else %}
              <img src="/static/img/female2.jpg" class="img-fluid" alt="Responsive image">
              {% endif %}
              <div class="card-body">
                <p class="card-text">{{ fighters[3].first_name}} {{ fighters[3].last_name }}</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              {% if fighters[0].sex.upper() == 'M' %}
              <img src="/static/img/male2.png" class="img-fluid" alt="Responsive image">
              {% else %}
              <img src="/static/img/female2.jpg" class="img-fluid" alt="Responsive image">
              {% endif %}
              <div class="card-body">
                <p class="card-text">{{ fighters[4].first_name}} {{ fighters[4].last_name }}</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              {% if fighters[0].sex.upper() == 'M' %}
              <img src="/static/img/male2.png" class="img-fluid" alt="Responsive image">
              {% else %}
              <img src="/static/img/female2.jpg" class="img-fluid" alt="Responsive image">
              {% endif %}
              <div class="card-body">
                <p class="card-text">{{ fighters[5].first_name}} {{ fighters[5].last_name }}</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
        </div>  
          
        
      </div>
    </div>
  
  </main>
  {% endblock%}