{% extends "main.html" %}
{% block content %} 
<main role="main">

  
    <div class="album py-5 bg-light">
      <div class="container">
        
          {% if fighters[0].division == fighters[0].div_id %}
          <div class="h3 text-center">{{ fighters[0].div_name }} - Champ & Top 5</div>
          {% endif %}
        
        
        <div class="d-flex justify-content-center">
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <!--<svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>-->
              {% if fighters[0].sex.upper() == 'M' %}
              <img src="/static/img/male.png" class="img-fluid" alt="Responsive image">
              {% else %}
              <img src="/static/img/female.png" class="img-fluid" alt="Responsive image">
              {% endif %}             
                <div class="card-body">
                  <h6 class="card-title"><span class="badge badge-primary badge-pill">Champ</span> {{ fighters[0].first_name}} {{ fighters[0].last_name }}</h6>
                  {% if userinfo['name'] == session['Admin'] %}<a href="/fighter-edit/{{ fighters[0].id }}" class="ml-2 btn-sm btn-warning">Edit</a>{% endif %}
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><span class="badge badge-primary badge-pill">Age</span> {{ fighters[0].age}}</li>
                  <li class="list-group-item"><span class="badge badge-primary badge-pill">Height</span> {{ fighters[0].height}}</li>
                  <li class="list-group-item"><span class="badge badge-primary badge-pill">Weight</span> {{ fighters[0].weight}}</li>
                  <li class="list-group-item"><span class="badge badge-primary badge-pill">Arm Reach</span> {{ fighters[0].arm_reach}}</li>
                  <li class="list-group-item"><span class="badge badge-primary badge-pill">Leg Reach</span> {{ fighters[0].leg_reach}}</li>
                  <li class="list-group-item"><span class="badge badge-primary badge-pill">Win/Loss/Draw</span> {{ fighters[0].win}}/{{ fighters[0].loss }}/{{ fighters[0].draw }}</li>
                  
                </ul>     
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-center">
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              {% if fighters[0].sex.upper() == 'M' %}
              <img src="/static/img/male2.png" class="img-fluid" alt="Responsive image">
              {% else %}
              <img src="/static/img/female2.jpg" class="img-fluid" alt="Responsive image">
              {% endif %}
              <div class="card-body">
                <h6 class="card-title"><span class="badge badge-primary badge-pill">1</span> {{ fighters[1].first_name}} {{ fighters[1].last_name }}</h6>
                {% if userinfo['name'] == session['Admin'] %}<a href="/fighter-edit/{{ fighters[1].id }}" class="ml-2 btn-sm btn-warning">Edit</a>{% endif %}
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><span class="badge badge-primary badge-pill">Age</span> {{ fighters[1].age}}</li>
                <li class="list-group-item"><span class="badge badge-primary badge-pill">Height</span> {{ fighters[1].height}}</li>
                <li class="list-group-item"><span class="badge badge-primary badge-pill">Weight</span> {{ fighters[1].weight}}</li>
                <li class="list-group-item"><span class="badge badge-primary badge-pill">Arm Reach</span> {{ fighters[1].arm_reach}}</li>
                <li class="list-group-item"><span class="badge badge-primary badge-pill">Leg Reach</span> {{ fighters[1].leg_reach}}</li>
                <li class="list-group-item"><span class="badge badge-primary badge-pill">Win/Loss/Draw</span> {{ fighters[1].win}}/{{ fighters[1].loss }}/{{ fighters[1].draw }}</li>
                
              </ul>   
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              {% if fighters[0].sex.upper() == 'M' %}
              <img src="/static/img/male2.png" class="img-fluid" alt="Responsive image">
              {% else %}
              <img src="/static/img/female2.jpg" class="img-fluid" alt="Responsive image">
              {% endif %}
              <div class="card-body">
                <h6 class="card-title"><span class="badge badge-primary badge-pill">2</span> {{ fighters[2].first_name}} {{ fighters[2].last_name }}</h6>
                {% if userinfo['name'] == session['Admin'] %}<a href="/fighter-edit/{{ fighters[2].id }}" class="ml-2 btn-sm btn-warning">Edit</a>{% endif %}
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><span class="badge badge-primary badge-pill">Age</span> {{ fighters[2].age}}</li>
                <li class="list-group-item"><span class="badge badge-primary badge-pill">Height</span> {{ fighters[2].height}}</li>
                <li class="list-group-item"><span class="badge badge-primary badge-pill">Weight</span> {{ fighters[2].weight}}</li>
                <li class="list-group-item"><span class="badge badge-primary badge-pill">Arm Reach</span> {{ fighters[2].arm_reach}}</li>
                <li class="list-group-item"><span class="badge badge-primary badge-pill">Leg Reach</span> {{ fighters[2].leg_reach}}</li>
                <li class="list-group-item"><span class="badge badge-primary badge-pill">Win/Loss/Draw</span> {{ fighters[2].win}}/{{ fighters[2].loss }}/{{ fighters[2].draw }}</li>
                
              </ul>   
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-center">
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              {% if fighters[0].sex.upper() == 'M' %}
              <img src="/static/img/male2.png" class="img-fluid" alt="Responsive image">
              {% else %}
              <img src="/static/img/female2.jpg" class="img-fluid" alt="Responsive image">
              {% endif %}
              <div class="card-body">
                <h6 class="card-title"><span class="badge badge-primary badge-pill">3</span> {{ fighters[3].first_name}} {{ fighters[3].last_name }}</h6>
                {% if userinfo['name'] == session['Admin'] %}<a href="/fighter-edit/{{ fighters[3].id }}" class="ml-2 btn-sm btn-warning">Edit</a>{% endif %}
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><span class="badge badge-primary badge-pill">Age</span> {{ fighters[3].age}}</li>
                <li class="list-group-item"><span class="badge badge-primary badge-pill">Height</span> {{ fighters[3].height}}</li>
                <li class="list-group-item"><span class="badge badge-primary badge-pill">Weight</span> {{ fighters[3].weight}}</li>
                <li class="list-group-item"><span class="badge badge-primary badge-pill">Arm Reach</span> {{ fighters[3].arm_reach}}</li>
                <li class="list-group-item"><span class="badge badge-primary badge-pill">Leg Reach</span> {{ fighters[3].leg_reach}}</li>
                <li class="list-group-item"><span class="badge badge-primary badge-pill">Win/Loss/Draw</span> {{ fighters[3].win}}/{{ fighters[3].loss }}/{{ fighters[3].draw }}</li>
                
              </ul>   
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              {% if fighters[0].sex.upper() == 'M' %}
              <img src="/static/img/male2.png" class="img-fluid" alt="Responsive image">
              {% else %}
              <img src="/static/img/female2.jpg" class="img-fluid" alt="Responsive image">
              {% endif %}
              <div class="card-body">
                <h6 class="card-title"><span class="badge badge-primary badge-pill">4</span> {{ fighters[4].first_name}} {{ fighters[4].last_name }}</h6>
                {% if userinfo['name'] == session['Admin'] %}<a href="/fighter-edit/{{ fighters[4].id }}" class="ml-2 btn-sm btn-warning">Edit</a>{% endif %}
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><span class="badge badge-primary badge-pill">Age</span> {{ fighters[4].age}}</li>
                <li class="list-group-item"><span class="badge badge-primary badge-pill">Height</span> {{ fighters[4].height}}</li>
                <li class="list-group-item"><span class="badge badge-primary badge-pill">Weight</span> {{ fighters[4].weight}}</li>
                <li class="list-group-item"><span class="badge badge-primary badge-pill">Arm Reach</span> {{ fighters[4].arm_reach}}</li>
                <li class="list-group-item"><span class="badge badge-primary badge-pill">Leg Reach</span> {{ fighters[4].leg_reach}}</li>
                <li class="list-group-item"><span class="badge badge-primary badge-pill">Win/Loss/Draw</span> {{ fighters[4].win}}/{{ fighters[4].loss }}/{{ fighters[4].draw }}</li>

              </ul>   
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              {% if fighters[0].sex.upper() == 'M' %}
              <img src="/static/img/male2.png" class="img-fluid" alt="Responsive image">
              {% else %}
              <img src="/static/img/female2.jpg" class="img-fluid" alt="Responsive image">
              {% endif %}
              <div class="card-body">
                <h6 class="card-title"><span class="badge badge-primary badge-pill">5</span> {{ fighters[5].first_name}} {{ fighters[5].last_name }}</h6>
                {% if userinfo['name'] == session['Admin'] %}<a href="/fighter-edit/{{ fighters[5].id }}" class="ml-2 btn-sm btn-warning">Edit</a>{% endif %}
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><span class="badge badge-primary badge-pill">Age</span> {{ fighters[5].age}}</li>
                <li class="list-group-item"><span class="badge badge-primary badge-pill">Height</span> {{ fighters[5].height}}</li>
                <li class="list-group-item"><span class="badge badge-primary badge-pill">Weight</span> {{ fighters[5].weight}}</li>
                <li class="list-group-item"><span class="badge badge-primary badge-pill">Arm Reach</span> {{ fighters[5].arm_reach}}</li>
                <li class="list-group-item"><span class="badge badge-primary badge-pill">Leg Reach</span> {{ fighters[5].leg_reach}}</li>
                <li class="list-group-item"><span class="badge badge-primary badge-pill">Win/Loss/Draw</span> {{ fighters[5].win}}/{{ fighters[5].loss }}/{{ fighters[5].draw }}</li>
                
              </ul>   
            </div>
          </div>
        </div>  
          
        
      </div>
    </div>
  
  </main>
  {% endblock%}