{% extends "main.html" %}
{% block content %} 

<div class="d-flex justify-content-center">
    <div class="card m-4 shadow-sm">
    {% for item in events %}
    
        {% if item.fight_order == 1 %}
        <h2>Main Event</h2>
        <p>Match {{item.fight_order}}: {{ item.fighter_1}} - Odds {{ item.fighter_1_odds }}VS {{item.fighter_2}} odds {{ fighter_2_odds }}</p>
        {% else %}
        <p>Match {{item.fight_order}}: {{ item.fighter_1}} - Odds {{ item.fighter_1_odds }}VS {{item.fighter_2}} odds {{ fighter_2_odds }}</p>
        {% endif %}
    
    {% endfor %}
    </div>
</div>

{% endblock %}