{% extends "main.html" %}
{% block content %} 

<main role="main" >

  
      <div class="h4 mt-3 text-center"  >
        {% for item in events %}
        <a style="text-decoration: none; color: inherit;" href="/event/{{item.event_date}}""> {{ item.event_name }} - {{ item.event_date|datetime('full') }}</a>
        {% endfor %}
      </div>  
    
    <div class="card-deck p-3">
        <div class="card" style="width: 18rem;">
          <div class="card-header text-white bg-danger h4"><a href="/division_fighters/1" style="text-decoration: none; color: inherit;">Men's Flyweight</a></div>
          <div class="card-body">
            <h4 class="card-title"><span class="badge badge-primary badge-pill">Champ</span> {{ fighters[0].first_name}} {{ fighters[0].last_name }}</h4>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><span class="badge badge-primary badge-pill">1</span> {{ fighters[1].first_name}} {{ fighters[1].last_name }}</li>
            <li class="list-group-item"><span class="badge badge-primary badge-pill">2</span> {{ fighters[2].first_name}} {{ fighters[2].last_name }}</li>
            <li class="list-group-item"><span class="badge badge-primary badge-pill">3</span> {{ fighters[3].first_name}} {{ fighters[3].last_name }}</li>
            <li class="list-group-item"><span class="badge badge-primary badge-pill">4</span> {{ fighters[4].first_name}} {{ fighters[4].last_name }}</li>
            <li class="list-group-item"><span class="badge badge-primary badge-pill">5</span> {{ fighters[5].first_name}} {{ fighters[5].last_name }}</li>
          </ul>
        </div>
        <div class="card" style="width: 18rem;">
          <div class="card-header text-white bg-danger h4"><a href="/division_fighters/2" style="text-decoration: none; color: inherit;">Men's Bantamweight</a></div>
          <div class="card-body">
            <h4 class="card-title"><span class="badge badge-primary badge-pill">Champ</span> {{ fighters[6].first_name}} {{ fighters[6].last_name }}</h4>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><span class="badge badge-primary badge-pill">1</span> {{ fighters[7].first_name}} {{ fighters[7].last_name }}</li>
            <li class="list-group-item"><span class="badge badge-primary badge-pill">2</span> {{ fighters[8].first_name}} {{ fighters[8].last_name }}</li>
            <li class="list-group-item"><span class="badge badge-primary badge-pill">3</span> {{ fighters[9].first_name}} {{ fighters[9].last_name }}</li>
            <li class="list-group-item"><span class="badge badge-primary badge-pill">4</span> {{ fighters[10].first_name}} {{ fighters[10].last_name }}</li>
            <li class="list-group-item"><span class="badge badge-primary badge-pill">5</span> {{ fighters[11].first_name}} {{ fighters[11].last_name }}</li>
          </ul>
        </div>
        <div class="card" style="width: 18rem;">
          <div class="card-header text-white bg-danger h4"><a href="/division_fighters/3" style="text-decoration: none; color: inherit;">Men's Featherweight</a></div>
          <div class="card-body">
            <h4 class="card-title"><span class="badge badge-primary badge-pill">Champ</span> {{ fighters[12].first_name}} {{ fighters[12].last_name }}</h4>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><span class="badge badge-primary badge-pill">1</span> {{ fighters[13].first_name}} {{ fighters[13].last_name }}</li>
            <li class="list-group-item"><span class="badge badge-primary badge-pill">2</span> {{ fighters[14].first_name}} {{ fighters[14].last_name }}</li>
            <li class="list-group-item"><span class="badge badge-primary badge-pill">3</span> {{ fighters[15].first_name}} {{ fighters[15].last_name }}</li>
            <li class="list-group-item"><span class="badge badge-primary badge-pill">4</span> {{ fighters[16].first_name}} {{ fighters[16].last_name }}</li>
            <li class="list-group-item"><span class="badge badge-primary badge-pill">5</span> {{ fighters[17].first_name}} {{ fighters[17].last_name }}</li>
          </ul>
        </div>
        <div class="card" style="width: 18rem;">
          <div class="card-header text-white bg-danger h4"><a href="/division_fighters/4" style="text-decoration: none; color: inherit;">Men's Lightweight</a></div>
          <div class="card-body">
            <h4 class="card-title"><span class="badge badge-primary badge-pill">Champ</span> {{ fighters[18].first_name}} {{ fighters[18].last_name }}</h4>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><span class="badge badge-primary badge-pill">1</span> {{ fighters[19].first_name}} {{ fighters[19].last_name }}</li>
            <li class="list-group-item"><span class="badge badge-primary badge-pill">2</span> {{ fighters[20].first_name}} {{ fighters[20].last_name }}</li>
            <li class="list-group-item"><span class="badge badge-primary badge-pill">3</span> {{ fighters[21].first_name}} {{ fighters[21].last_name }}</li>
            <li class="list-group-item"><span class="badge badge-primary badge-pill">4</span> {{ fighters[22].first_name}} {{ fighters[22].last_name }}</li>
            <li class="list-group-item"><span class="badge badge-primary badge-pill">5</span> {{ fighters[23].first_name}} {{ fighters[23].last_name }}</li>
          </ul>
        </div>
    </div>
    <div class="card-deck p-3">
      <div class="card" style="width: 18rem;">
        <div class="card-header text-white bg-danger h4"><a href="/division_fighters/5" style="text-decoration: none; color: inherit;"></a>Men's Welterweight</a></div>
        <div class="card-body">
          <h4 class="card-title"><span class="badge badge-primary badge-pill">Champ</span> {{ fighters[24].first_name}} {{ fighters[24].last_name }}</h4>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><span class="badge badge-primary badge-pill">1</span> {{ fighters[25].first_name}} {{ fighters[25].last_name }}</li>
          <li class="list-group-item"><span class="badge badge-primary badge-pill">2</span> {{ fighters[26].first_name}} {{ fighters[26].last_name }}</li>
          <li class="list-group-item"><span class="badge badge-primary badge-pill">3</span> {{ fighters[27].first_name}} {{ fighters[27].last_name }}</li>
          <li class="list-group-item"><span class="badge badge-primary badge-pill">4</span> {{ fighters[28].first_name}} {{ fighters[28].last_name }}</li>
          <li class="list-group-item"><span class="badge badge-primary badge-pill">5</span> {{ fighters[29].first_name}} {{ fighters[29].last_name }}</li>
        </ul>
      </div>
      <div class="card" style="width: 18rem;">
        <div class="card-header text-white bg-danger h4"><a href="/division_fighters/6" style="text-decoration: none; color: inherit;">Men's Middleweight</a></div>
        <div class="card-body">
          <h4 class="card-title"><span class="badge badge-primary badge-pill">Champ</span> {{ fighters[30].first_name}} {{ fighters[30].last_name }}</h4>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><span class="badge badge-primary badge-pill">1</span> {{ fighters[31].first_name}} {{ fighters[31].last_name }}</li>
          <li class="list-group-item"><span class="badge badge-primary badge-pill">2</span> {{ fighters[32].first_name}} {{ fighters[32].last_name }}</li>
          <li class="list-group-item"><span class="badge badge-primary badge-pill">3</span> {{ fighters[33].first_name}} {{ fighters[33].last_name }}</li>
          <li class="list-group-item"><span class="badge badge-primary badge-pill">4</span> {{ fighters[34].first_name}} {{ fighters[34].last_name }}</li>
          <li class="list-group-item"><span class="badge badge-primary badge-pill">5</span> {{ fighters[35].first_name}} {{ fighters[35].last_name }}</li>
        </ul>
      </div>
      <div class="card" style="width: 18rem;">
        <div class="card-header text-white bg-danger h4"><a href="/division_fighters/7" style="text-decoration: none; color: inherit;">Men's Light Heavyweight</a></div>
        <div class="card-body">
          <h4 class="card-title"><span class="badge badge-primary badge-pill">Champ</span> {{ fighters[36].first_name}} {{ fighters[36].last_name }}</h4>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><span class="badge badge-primary badge-pill">1</span> {{ fighters[37].first_name}} {{ fighters[37].last_name }}</li>
          <li class="list-group-item"><span class="badge badge-primary badge-pill">2</span> {{ fighters[38].first_name}} {{ fighters[38].last_name }}</li>
          <li class="list-group-item"><span class="badge badge-primary badge-pill">3</span> {{ fighters[39].first_name}} {{ fighters[39].last_name }}</li>
          <li class="list-group-item"><span class="badge badge-primary badge-pill">4</span> {{ fighters[40].first_name}} {{ fighters[40].last_name }}</li>
          <li class="list-group-item"><span class="badge badge-primary badge-pill">5</span> {{ fighters[41].first_name}} {{ fighters[41].last_name }}</li>
        </ul>
      </div>
      <div class="card" style="width: 18rem;">
        <div class="card-header text-white bg-danger h4"><a href="/division_fighters/8" style="text-decoration: none; color: inherit;">Men's Heavyweight</a></div>
        <div class="card-body">
          <h4 class="card-title"><span class="badge badge-primary badge-pill">Champ</span> {{ fighters[42].first_name}} {{ fighters[42].last_name }}</h4>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><span class="badge badge-primary badge-pill">1</span> {{ fighters[43].first_name}} {{ fighters[43].last_name }}</li>
          <li class="list-group-item"><span class="badge badge-primary badge-pill">2</span> {{ fighters[44].first_name}} {{ fighters[44].last_name }}</li>
          <li class="list-group-item"><span class="badge badge-primary badge-pill">3</span> {{ fighters[45].first_name}} {{ fighters[45].last_name }}</li>
          <li class="list-group-item"><span class="badge badge-primary badge-pill">4</span> {{ fighters[46].first_name}} {{ fighters[46].last_name }}</li>
          <li class="list-group-item"><span class="badge badge-primary badge-pill">5</span> {{ fighters[47].first_name}} {{ fighters[47].last_name }}</li>
        </ul>
      </div>
  </div>
  <div class="card-deck p-3">
    <div class="card" style="width: 18rem;">
      <div class="card-header text-white bg-danger h4"><a href="/division_fighters/9" style="text-decoration: none; color: inherit;">Women's Strawweight</a></div>
      <div class="card-body">
        <h4 class="card-title"><span class="badge badge-primary badge-pill">Champ</span> {{ fighters[48].first_name}} {{ fighters[48].last_name }}</h4>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><span class="badge badge-primary badge-pill">1</span> {{ fighters[49].first_name}} {{ fighters[49].last_name }}</li>
        <li class="list-group-item"><span class="badge badge-primary badge-pill">2</span> {{ fighters[50].first_name}} {{ fighters[50].last_name }}</li>
        <li class="list-group-item"><span class="badge badge-primary badge-pill">3</span> {{ fighters[51].first_name}} {{ fighters[51].last_name }}</li>
        <li class="list-group-item"><span class="badge badge-primary badge-pill">4</span> {{ fighters[52].first_name}} {{ fighters[52].last_name }}</li>
        <li class="list-group-item"><span class="badge badge-primary badge-pill">5</span> {{ fighters[53].first_name}} {{ fighters[53].last_name }}</li>
      </ul>
    </div>
    <div class="card" style="width: 18rem;">
      <div class="card-header text-white bg-danger h4"><a href="/division_fighters/10" style="text-decoration: none; color: inherit;">Women's Flyweight</a></div>
      <div class="card-body">
        <h4 class="card-title"><span class="badge badge-primary badge-pill">Champ</span> {{ fighters[54].first_name}} {{ fighters[54].last_name }}</h4>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><span class="badge badge-primary badge-pill">1</span> {{ fighters[55].first_name}} {{ fighters[55].last_name }}</li>
        <li class="list-group-item"><span class="badge badge-primary badge-pill">2</span> {{ fighters[56].first_name}} {{ fighters[56].last_name }}</li>
        <li class="list-group-item"><span class="badge badge-primary badge-pill">3</span> {{ fighters[57].first_name}} {{ fighters[57].last_name }}</li>
        <li class="list-group-item"><span class="badge badge-primary badge-pill">4</span> {{ fighters[58].first_name}} {{ fighters[58].last_name }}</li>
        <li class="list-group-item"><span class="badge badge-primary badge-pill">5</span> {{ fighters[59].first_name}} {{ fighters[59].last_name }}</li>
      </ul>
    </div>
    <div class="card" style="width: 18rem;">
      <div class="card-header text-white bg-danger h4"><a href="/division_fighters/11" style="text-decoration: none; color: inherit;">Women's Bantamweight</a></div>
      <div class="card-body">
        <h4 class="card-title"><span class="badge badge-primary badge-pill">Champ</span> {{ fighters[60].first_name}} {{ fighters[60].last_name }}</h4>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><span class="badge badge-primary badge-pill">1</span> {{ fighters[61].first_name}} {{ fighters[61].last_name }}</li>
        <li class="list-group-item"><span class="badge badge-primary badge-pill">2</span> {{ fighters[62].first_name}} {{ fighters[62].last_name }}</li>
        <li class="list-group-item"><span class="badge badge-primary badge-pill">3</span> {{ fighters[63].first_name}} {{ fighters[63].last_name }}</li>
        <li class="list-group-item"><span class="badge badge-primary badge-pill">4</span> {{ fighters[64].first_name}} {{ fighters[64].last_name }}</li>
        <li class="list-group-item"><span class="badge badge-primary badge-pill">5</span> {{ fighters[65].first_name}} {{ fighters[65].last_name }}</li>
      </ul>
    </div>
    <div class="card" style="width: 18rem;">
      <div class="card-header text-white bg-danger h4"><a href="/division_fighters/12" style="text-decoration: none; color: inherit;">Women's Featherweight</a></div>
      <div class="card-body">
        <h4 class="card-title"><span class="badge badge-primary badge-pill">Champ</span> {{ fighters[66].first_name}} {{ fighters[66].last_name }}</h4>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><span class="badge badge-primary badge-pill">1</span> {{ fighters[67].first_name}} {{ fighters[67].last_name }}</li>
        <li class="list-group-item"><span class="badge badge-primary badge-pill">2</span> {{ fighters[68].first_name}} {{ fighters[68].last_name }}</li>
        <li class="list-group-item"><span class="badge badge-primary badge-pill">3</span> {{ fighters[69].first_name}} {{ fighters[69].last_name }}</li></li>
        <li class="list-group-item"><span class="badge badge-primary badge-pill">4</span> {{ fighters[70].first_name}} {{ fighters[70].last_name }}</li></li>
        <li class="list-group-item"><span class="badge badge-primary badge-pill">5</span> {{ fighters[71].first_name}} {{ fighters[71].last_name }}</li></li>       
      </ul>
    </div>
</div>
        
  
  </main>

  {% endblock %}